<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/customerView.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>View customers</title>
</head>
<head>

</head>
<body>

<h2>Chinook Project </h2>
<div class="row">
    <div class="column">
        <table>
            <thead>
            <tr>
                <th scope="col">Random Artists Generator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person: ${Artist} ">
                <td th:text="${person.getName()}"></td>
            </tr>

        </table>
    </div>
    <div class="column">
        <table>
            <thead>
            <tr>
                <th scope="col">Random Trcks Generator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person: ${Trck} ">

                <td th:text="${person.getName()}"></td>
            </tr>

        </table>
    </div>
    <div class="column">
        <table>
            <thead>
            <tr>
                <th scope="col">Random Genre Generator</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person: ${Genre} ">
                <td th:text="${person.getName()}"></td>
            </tr>

        </table>
    </div>
</div>
<br><br>
<form th:action="@{/}" method="get">
    <input id="txtSearch" placeholder="Search tracks" type="text" name="keyword" required>
    <br>
    <button type="submit"> Search</button>
    <h2>Search Results for Tracks</h2>

</form>
<br>
<div class="column">
    <table>
        <thead>
        <tr>
            <th scope="col">Track Name</th>
            <th scope="col">Album</th>
            <th scope="col">Artist Name</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track: ${Trcko} ">
            <td th:text="${track.getTrackName()}"></td>
            <td th:text="${track.getAlbumTitle()}"></td>
            <td th:text="${track.getArtistName()}"></td>
            <td th:text="${track.getGenreName()}"></td>
        </tr>

    </table>
</div>
</body>
</html>
